h1 {
    font-size:60px;
    font-family: verdana;
    background-color:yellow ;
}
body {
    background: yellowgreen;
}
h2 {
    font-family: sans-serif;
}
image {
    align-self: auto;
}